.boxForm {
    z-index: 0;
    border: 1px solid #6B408C;
    box-sizing: border-box;
    border-radius: 4px;
}
.labelForm {
    position: absolute;
    margin-top: -3%;
    z-index: 1;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #5F6264;
}
.form-control {
    border: #FFFFFF;
    font-size: 14px;
    color: #222222;
}