@{
    ViewData["Title"] = "Settings";
}
<head>
    <link rel="stylesheet" href="~/views/setting/index.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
@section scripts
{
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.matchMedia("(max-width: 1279px)").matches) {
            document.getElementById("changePassword").className = 'col';
            document.getElementById("personPhoto").style.display = "none";
        }
    });
    function Change() {
        let i = 0;
        if (document.getElementById("new").value == "") {
            i++;
            document.getElementById("newBox").className = 'labelFormError col mt-3 mr-4';
            document.getElementById("newError").style.display = "";
        }
        else {
            document.getElementById("newBox").className = 'boxForm col mt-3 mr-4';
            document.getElementById("newError").style.display = "none";
        }
        if (document.getElementById("old").value == "") {
            i++;
            document.getElementById("oldBox").className = 'labelFormError col mt-3';
            document.getElementById("oldError").style.display = "";
        }
        else {
            document.getElementById("oldBox").className = 'boxForm col mt-3';
            document.getElementById("oldError").style.display = "none";
        }
        if (document.getElementById("repeat").value == "") {
            i++;
            document.getElementById("repeatBox").className = 'labelFormError col mt-3';
            document.getElementById("repeatError").style.display = "";
        }
        else {
            document.getElementById("repeatBox").className = 'boxForm col mt-3';
            document.getElementById("repeatError").style.display = "none";
        }
        if (document.getElementById("new").value != document.getElementById("repeat").value) {
            i++;
            document.getElementById("newBox").className = 'labelFormError col mt-3 mr-4';
            document.getElementById("newError").style.display = "";
            document.getElementById("repeatBox").className = 'labelFormError col mt-3';
            document.getElementById("repeatError").style.display = "";
        }
        else {
            if (document.getElementById("repeat").value != "") {
                document.getElementById("repeatBox").className = 'boxForm col mt-3';
                document.getElementById("repeatError").style.display = "none";
                document.getElementById("newBox").className = 'boxForm col mt-3 mr-4';
                document.getElementById("newError").style.display = "none";
            }
        }
        if (i == 0) {
            let newPass = document.getElementById("new").value;
            let repeatPass = document.getElementById("repeat").value;
            let old = document.getElementById("repeat").value;
            $.ajax({
                type: "POST",
                url: "/Setting/ChangePassword",
                data: {
                    newPass: newPass,
                    repeatPass: repeatPass,
                    old: old
                },

                success: function (data) {
                    document.getElementById('successAlert').style.display = '';
                }
            });
        }
    }
</script>
}
<div style="display:none" id="successAlert" class="successAlert">
    <div class="container">
        <div class="row" style="display:flex">
            <div class="col" style="display:flex; font-weight: 500; font-size: 14px;">
                <img src="~/icons/success.svg" />
                <div class="col align-self-center">
                    Password changed successfully
                </div>
            </div>
            <div class="col">
                <a style="text-decoration: underline; font-weight: 400; font-size: 14px; color: white" class="float-right" href="/Dashboard/Index">Return to profile page</a>
            </div>
        </div>
    </div>
</div>
<div style="display:flex">
    <div class="col-2 mr-5" style="padding-left:0px;">
        <div style="cursor: pointer;display:flex">
            <div style="padding-left: 0px;" class="col-1"><img src="~/icons/personalGray.svg" /></div>
            <div onclick="location.href='/Setting/Index'" style="padding-left: 10px; font-weight: 400; font-size: 16px; color: #211E1D;" class="col">Personal data</div>
        </div>
        <div onclick="location.href='/Setting/PrivatePolicy'" style="cursor: pointer;font-size: 14px; color: #939DA8;" class="mt-3">Privacy policy</div>
        <div onclick="location.href='/Setting/ChangePassword'" style="cursor: pointer;font-size: 14px; font-weight: 600; color: #6B408C; " class="mt-3">Change password</div>
    </div>
    <div id="personPhoto" class="col-1 mr-5">
        <div>
            <img style="height: auto;width: 100%; border-radius: 100px;" src="@User.FindFirst(System.Security.Claims.ClaimTypes.Uri).Value" />
        </div>
    </div>
    <div id="changePassword" class="col-6">
        <div style="font-weight: 500; font-size: 16px; color:#222222">Personal data</div>
        <div style="font-weight: 400; font-size: 14px; color: #676565;" class="mt-3">Your data is only visible to you</div>
        <div class="mt-3">
            <div class="row">
                <div id="oldBox" class="boxForm col mt-3 mr-4">
                    <label class="labelForm"><abbr style="color:#ffffff">_</abbr>Old password  <img id="oldError" style="display:none" src="~/icons/error.svg" />  <abbr style="color:#ffffff">_</abbr></label>
                    <input id="old" type="password" class="form-control mt-2" />
                </div>
                <div class="col mt-3"></div>
            </div>
            <div class="row">
                <div id="newBox" class="boxForm col mt-3 mr-4">
                    <label class="labelForm"><abbr style="color:#ffffff">_</abbr>New password <img id="newError" style="display:none" src="~/icons/error.svg" />  <abbr style="color:#ffffff">_</abbr></label>
                    <input id="new" type="password" class="form-control mt-2" />
                </div>
                <div class="col mt-3"></div>
            </div>
            <div class="row">
                <div id="repeatBox" class="boxForm col mt-3 mr-4">
                    <label class="labelForm"><abbr style="color:#ffffff">_</abbr>Repeat new password <img id="repeatError" style="display:none" src="~/icons/error.svg" />  <abbr style="color:#ffffff">_</abbr></label>
                    <input id="repeat" type="password" class="form-control mt-2" />
                </div>
                <div class="col mt-3"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-7 mt-3" style="padding-left: 0px; padding-right: 0px;">
                <input onclick="Change()" type="button" class="btn btn-light btn-block" value="Save changes" />
            </div>
        </div>
    </div>

</div>