.footerCourse {
    font-weight: 400;
    font-size: 14px;
    margin-top: 50%;
}
.task {
    border-radius: 8px;
    padding: 18px;
    border: 1px solid #EBEDFB;
    margin-top: 15%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom
}
.lessonPC {
    display: flex
}
.titleCourse {
    font-weight: 600;
    font-size: 18px;
    padding-left: 0px;
}

.titleCourseEx {
    font-weight: 600;
    font-size: 18px;
}
.titleLesson {
    font-weight: 400;
    font-size: 28px;
}
.courseDropdown {
    background: #FFFFFF;
    border: 1px solid #EBEDFB;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.06), 0px 6px 12px rgba(33, 52, 69, 0.03);
    border-radius: 8px 0px 8px 8px;
    margin-right:10%;
}
.courseDropdownitem {
    font-weight: 400;
    font-size: 14px;
}
@media (min-width: 1200px) {
    .task {
        margin-top: 3%;
        margin-right: 15px;
    }
    .titleCourse {
        margin-left: 5%;
    }
}